@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button,
input,
textarea,
select {
  @apply outline-none;
}

.input {
  @apply w-full resize-none rounded-lg border border-transparent bg-slate-50 text-black shadow-inner shadow-slate-300 drop-shadow-sm transition focus:border-cyan-500;
}

.input-alternative {
  @apply w-full resize-none rounded-lg border border-transparent bg-white text-black shadow-md focus:border-cyan-500;
}

.textarea {
  @apply input h-28;
}

.btn {
  @apply rounded-full bg-cyan-600 text-center font-medium text-slate-50 shadow-sm transition hover:bg-cyan-500 hover:shadow-md focus:bg-cyan-500 focus:shadow-md;
}

.btn-disabled {
  @apply rounded-full bg-slate-400 text-center text-slate-50;
}

.btn-alternative {
  @apply rounded-full text-slate-600 transition hover:bg-slate-100 hover:text-slate-700 focus:bg-slate-100 focus:text-slate-700;
}

.show-mobile-search {
  animation: show-mobile-search 0.1s ease-in;
}

.hide-mobile-search {
  animation: hide-mobile-search 0.1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes show-mobile-search {
  from {
    width: 40px;
  }
  to {
    width: 100%;
  }
}

@keyframes hide-mobile-search {
  from {
    width: 100%;
  }
  to {
    width: 40px;
  }
}
